
.upperpart {
  display: flex;
  flex-wrap: wrap;
}

.upperpart .userpart {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
}


.profilepic {
  margin-top: 8px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  max-height: 50px;
  max-width: 50px;
}

.profileusername {
  margin-top: 8px;
  font-style:italic;
  font-size: 18px;
  font-weight:bold;
  max-width:10%
}

.upperpart .summarypart {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
}

.profilesummarytitle {
  font-size: 48px;
  font-style: oblique;
  font-weight: bold;
}

.profilesummary {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
