<h1>PROFILE</h1>
<div class="upperpart">
  <div class="userpart">
    <!--<img class="profilepic" src="assets/images/herp.png" />-->
    <img class="profilepic" src="{{photoUrl}}" />
    <div class="profileusername">{{name}}</div>
  </div>
  <div class="summarypart">
    <div class="profilesummarytitle">Summary</div>
    <div class="profilesummary">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel magna quam. Curabitur pretium mauris non mattis pretium. Suspendisse potenti. Aenean purus massa, facilisis sit amet consectetur non, pharetra eu nunc. Nam pharetra tincidunt porta. Nulla vel hendrerit leo. Nam imperdiet maximus felis nec dapibus. In hac habitasse platea dictumst. Mauris tortor turpis, pellentesque sed tellus consequat, sodales vulputate augue.

      Suspendisse ac est eget tortor ultricies tempor posuere sed tellus. Donec eu rutrum ligula, a posuere ante. Phasellus consectetur iaculis purus, ac consectetur metus suscipit at. Integer quis scelerisque turpis. Vestibulum sit amet vulputate turpis. Pellentesque dolor ligula, cursus ac eros id, feugiat facilisis erat. Nullam eget ipsum a mi egestas ornare. Vivamus blandit ex augue, sed euismod eros lobortis non. Quisque ex nunc, pharetra in purus id, suscipit tempor mauris. Mauris eleifend dapibus neque, condimentum luctus augue elementum quis. Phasellus in dignissim ipsum. Vestibulum blandit nulla sapien, non fringilla felis lacinia fermentum. Vivamus neque nunc, varius eget justo at, imperdiet scelerisque nisl. Sed blandit turpis diam, sit amet vulputate sapien lacinia id. Integer volutpat lectus semper leo placerat luctus.

      Nam dapibus ultrices auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis consectetur dictum lacus, ut molestie ligula molestie eu. Pellentesque eget ultrices risus. Nulla condimentum, enim at pulvinar porttitor, nisl ipsum iaculis nisi, et mollis dui felis sit amet nunc. Cras elementum mauris ac urna pellentesque facilisis. Cras luctus pulvinar euismod. Suspendisse potenti. Integer tempor lacinia bibendum. Duis nisi sapien, facilisis dignissim mauris nec, rutrum tincidunt nibh.

      Nam tristique dui purus, at iaculis lectus feugiat ut. Nulla lectus magna, feugiat et magna ut, bibendum dapibus arcu. Praesent pharetra fringilla eros ut sollicitudin. Mauris in turpis venenatis velit volutpat imperdiet ut eu purus. Donec sed ante ornare, condimentum libero non, auctor dolor. Integer aliquet nunc sit amet orci bibendum porttitor. Donec lacus dui, consectetur sed porta facilisis, fringilla ac lectus. Nunc non ligula id odio vestibulum suscipit nec fermentum metus. Pellentesque ornare velit quis nisl aliquet, quis mattis augue venenatis.

      Integer cursus, arcu at interdum gravida, lacus quam ultricies massa, eu ultrices augue eros sed velit. Ut consectetur vulputate lacus, vitae aliquam risus condimentum sed. Fusce volutpat erat nunc. Etiam at venenatis nunc, semper luctus nisl. Etiam ac finibus tellus. Aliquam porttitor arcu et venenatis condimentum. Aenean dictum ante dolor, sit amet hendrerit ex eleifend quis.
    </div>
  </div>
</div>
<div class="lowerpart">
<div class="row">
  <div class="column">
  </div>
  <div class="column">
  </div>
  <div class="column">
  </div>
  <div class="column">
  </div>
</div>
  <</div>>


