<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']">ImageHub</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <img img src="assets/images/image.svg" [routerLink]="['/home']" />
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <img img src="assets/images/user.svg" [routerLink]="['/profile']" />
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <img img src="assets/images/users.svg" [routerLink]="['/friends']" />
          </li>
          <li class="nav-item" (click)=toggle() [routerLinkActive]="['link-active']">
            <img img src="assets/images/log-out.svg" [routerLink]="['/logout']" />
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
