<h1>HOME</h1>

<h3>Image Preview before Upload:</h3>
<span style="color:red;" *ngIf="message">{{message}}</span>
<input #file type="file" accept='image/*' (change)="preview(file.files)" />
<img [src]="imgURL" height="200" *ngIf="imgURL">

        <div class="form-group">
          <button class="btn btn-primary">Submit</button>
        </div>

<div class="row">
  <div class="column">
  </div>
  <div class="column">
  </div>
  <div class="column">
  </div>
  <div class="column">
  </div>
</div>
