<article class="post">
  <header class="postheader">
    <img class="profilepic" src="assets/images/herp.png"/>
    <div class="postername"></div>
  </header>
  <div class="postimage">
    <img src="assets/images/holder.jpg" />
  </div>
  <div></div>
  <div></div>
  </article>
