<h1>List of Strangers:</h1>
<div *ngFor="let user of users">
  <div class="row">
    <img src="{{ user.profilePic }}" style="width:38px;height:38px;" />
    <div class="btn-outline-info">{{ user.name }}</div>
    <div>{{ user.connectiontype }}</div>
    <button type="button" class="btn btn-primary"  (click)="buttonClicked(user,'SENTREQUEST')" [routerLink]="['/home']">Befriend</button>
  </div>
</div>

<h1>List of people who want to be your friend:</h1>
<div *ngFor="let wannabe of wannabes">
  <div class="row">
    <img src="{{ wannabe.profilePic }}" style="width:38px;height:38px;" />
    <div  class="btn-outline-info">{{ wannabe.name }}</div>
    <div>{{ wannabe.connectiontype }}</div>
    <button type="button" class="btn btn-success" (click)="buttonClicked(wannabe,'ACCEPTED')" [routerLink]="['/home']">Accept</button>
    <button type="button" class="btn btn-danger" (click)="buttonClicked(wannabe,'REJECTED')" [routerLink]="['/home']">Decline</button>
  </div>
</div>

<h1>List of your friends:</h1>
<div *ngFor="let friend of friends">
  <div class="row">
    <img src="{{ friend.profilePic }}" style="width:38px;height:38px;" />
    <div class="btn-outline-info">{{ friend.name }}</div>
    <div>{{ friend.connectiontype }}</div>
    <button type="button" class="btn btn-danger" (click)="buttonClicked(friend,'DELETED')" [routerLink]="['/home']">Delete</button>
  </div>
</div>

