<body>
  <div class="login" *ngIf="!login">
    <h1 class="imagehub-title">ImageHub</h1>
    <button class="facebook-button" (click)="loginClick()">Bejelentkezés Facebook-kal mint: {{user.name}}</button>
    <button class="facebook-button" style="background-color: #385998; border-color: #385998" (click)="facebookLogin()"> <i class="facebook-button facebook-button"></i> Facebook autentikálás </button>
  </div>
  <div class="main-window" *ngIf="login">
    <app-nav-menu></app-nav-menu>
    <div class="container landing-page">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
